{
  "semi": false,
  "singleQuote": false,
  "overrides": [
    {
      "files": ".scss",
      "options": {
        "semi": true
      }
    },
    {
      "files": ".css",
      "options": {
        "semi": true
      }
    },
    {
      "files": ".js",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
